<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
    <meta charset="utf-8">
    <title>Hello Python</title>
 </head>
 <body>
    <h1 align="center">พยากรณ์อากาศ Python | Flask</h1>
  
      
<div class="container">
  <p> </p>
    <div class="row">
      <div class="col-md-12">
      .CSV
        <form   action="data" method="post" enctype="multipart/form-data">                 
          <div class="form-group" align="left">           
            <input name="csvfile" type="file" class="form-control"/>
            </div>
            <div class="form-group">
            <div class="col-sm-6" align="left">
              <button type="submit" class="btn btn-success btn-sm" id="btn"> พยากรณ์ </button>      
            </div> 
          </div>
        </form>
      </div>
    </div>
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------                                 
</div>
      
      {% if accuracy %}
            accuracy = {{ accuracy }}
      {% else %}
            
      {% endif %}  
   
    {{ data | safe}} 
 </body>
 </html>  